.input-group {
    padding: 10px;
}

.btn {
    margin-right: 15px;
}

#canvas-container {
    padding-top: 20px;
}

#canvas {
    height: 600px;
    width: 600px;
    border: 2px solid black;
}

.Square {
    background-color: red;
}

.Rectangle {
    background-color: green;
}

.Circle {
    background-color: purple;
}

.Triangle {
    background-color: yellow;
}